<div class="container">
  <div class="jumbotron">
    <h1>About</h1>
  </div>
  <h4>This project is not just about learning a new language, ecosystem and framework. It's more so a simulation of the real world where you inherit an existing code base in a language / framework that you are not comfortable with. Welcome to the real world.</h4>
</div>