<section class="admin-products-new">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div class="container">
    <div class="jumbotron text-justify">
      <p>
        Jungle is an E-commerce online shop which allows consumers to directly buy products over the Internet using a web browser.
        Consumers find a product of interest by browsing the website of the product list directly, which also showing product's description, quantity in stock, pricing on the detail page.
        Online customers must have access to the Internet and a valid method of payment in order to complete a transaction, such as a credit card.
        Customer can make a transaction without login as a user, who is able to rate and review a product.
      </p>
    </div>
  </div>
</section>